@import 'tailwindcss';
@import 'tw-animate-css';

@variant dark (.dark &);

@theme {
  --color-dark-1: #1c1f2e;
  --color-dark-2: #161925;
  --color-dark-3: #252a41;
  --color-dark-4: #1e2757;

  --color-blue-1: #0e78f9;

  --color-sky-1: #c9ddff;
  --color-sky-2: #ecf0ff;
  --color-sky-3: #f5fcff;

  --color-orange-1: #ff742e;
  --color-purple-1: #830ef9;
  --color-yellow-1: #f9a90e;

  --container-center: true;
  --container-padding: 2rem;
  --container-screen-2xl: 1400px;

  --background-image-hero: url('/images/hero-background.png');
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-between {
  @apply flex justify-between items-center;
}

@utility accordion-down {
  animation: accordion-down 0.2s ease-out;
}

@utility accordion-up {
  animation: accordion-up 0.2s ease-out;
}

@utility hero-bg {
  background-image: url('/images/hero-background.png');
}

@utility glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.cl-providerIcon__github {
  filter: invert(1);
}

.cl-badge {
  color: #ffffff68;
}

.cl-internal-z2weye:hover {
  color: #ffffff !important;
}

[data-sonner-toast] {
  border: none !important;
}
